html {
    background-color: navy;
    color: aqua;
}

.navbar-brand {
    font-family: 'Russo One', sans-serif;
}

.nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



